<div id="curtain-container" style="background: url(<%= @photo.url%>); background-position: center;background-repeat: no-repeat; background-size: 100%">
  <%= image_tag(asset_path('curtain.png'), class: "curtain" )%>
  <%= image_tag(asset_path('curtain_front_478.png'), class: "curtain-front animated slideOutUp" )%>
  <div id="character"></div>
  <div class="bubble-wrap">
    <div class="bubble">
      <%= @dialogue %>
      <% if @scene == @scenes.last %>
        <br>
        <p> ------ </p>
        <p>If you would like to share this story copy the link below: <br>
          <em><strong>glibs.herokuapp.com/stories/<%=@story.share_url%></strong></em> <br><br>
           <%= link_to "Make More Glibs", root_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<div id="buttons-container">
    <% if @scene != @scenes.first %><br>

      <%= link_to "", story_scene_path(@story.share_url, @previous_scene), id: 'previous-button' %>
    <% end %>

    <% if @scene != @scenes.last %>
      <%= link_to "", story_scene_path(@story.share_url, @next_scene), id: 'next-button' %>
    <% end %>
</div>
