
<div id="show-page">

  <div id="story-container">
    <%= image_tag(@photo.url, class: "scene-image" )%>
    <%= image_tag(asset_path('curtain.png'), class: "curtain" )%>
    <div id="character"></div>
      <div class="bubble-wrap">
       <div class="bubble",>
          <%= @dialogue %>
        </div>
    </div>
  </div>

  <div id="buttons-container">
      <% if @scene != @scenes.first %><br>
        <a href="<%= story_scene_path(@story, @previous_scene)%>", id= 'previous-button'></a>
      <% end %>

      <% if @scene != @scenes.last %>
      <a href="<%= story_scene_path(@story, @next_scene)%>", class= 'next-button'></a>

      <% end %>

      <% if @scene == @scenes.last %>
        <a href="<%= story_end_path(@story)%>", class= 'next-button'></a>
      <% end %>



  </div>
</div>



