
<div id="show-page">

  <div id="story-container">
    <%= image_tag(@photo.url, class: "scene-image" )%>
    <%= image_tag(asset_path('curtain.png'), class: "curtain" )%>
    <div id="character"></div>
      <div class="bubble-wrap">
       <div class="bubble">
          <%= @dialogue %>
        </div>
    </div>
  </div>

  <div id="buttons-container">
      <% if @scene != @scenes.first %><br>
        <a href="<%= story_scene_path(@story, @previous_scene)%>", id= 'previous-button'></a>
      <% end %>

      <% if @scene != @scenes.last %>
      <a href="<%= story_scene_path(@story, @next_scene)%>", id= 'next-button'></a>

      <% end %>

  <div id="new-glib">
      <% if @scene == @scenes.last %>
        <p>If you would like to share this story copy the link below: <br>
          <em><strong>glibs.herokuapp.com/stories/<%=@story.id%></strong></em> <br><br>
           <%= link_to "Make More Glibs", root_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>



