<h1>Please Help Us Complete Our Story:</h1>
<% if @error %>
  <p> <%= @error %> </p>
<% end %>

<%= form_with(url: genre_script_stories_path(@genre, @script, @story), model: @story, local: true) do |form| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being told:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: :story_title, placeholder: "Story Title" %>
  </div>
  <div class="field">
    <%= form.file_field :image1, id: :user_image, placeholder: "Act 1 URL" %>
  </div>
  <div class="field">
    <%= form.file_field :image2, id: :user_image, placeholder: "Act 2 URL" %>
  </div>
  <div class="field">
    <%= form.file_field :image3, id: :user_image, placeholder: "Act 3 URL" %>
  </div>

  <div class="actions">
    <%= form.submit "Begin Presentation" %>
  </div>
<% end %>
